
:root {
    --green: #44dd2b;
}

/* main body styles */
body {
    background-image: url("https://tenncreekbridges.github.io/API-Mash-Project/assets/images/space-bg.jpg");
    color: var(--green);
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1rem;
    line-height: 1.2; 
  }

/* sets yoda logo width */
img {
    width: 85%;
}

/* sets basic paragraph text style */
p {
    margin-bottom: 0 !important;
}

/* set styles for buttons  */
button {
    align-items: center;
}

.btn-style {
  background-color: black;
  border: var(--green) 2px solid;
  color: white;
  font-size: 1.25rem;
  font-weight: bold;
}

.btn-style:hover {
    background-color: var(--green);
}

/* set styles & sizing for heading sizes */
h2 {
    font-size: 1.7rem;
}

h3 {
    font-size: 1.25rem;
    text-align: center;
}

h4 {
    font-size: 1.1rem;
}

/* allows buttons to be centered */
.d-flex {
    display: block !important;
}

.card-header {
    display: block;
    text-align: center;
    margin: auto 0;
}

/* set card styles  */
.bg-dark {
    background-color: black !important;
    border: var(--green) 2px solid;
    color: white;
    font-size: 1.25rem;
    font-weight: bold;
}

.text-dark {
    color: black !important;
}

.card-content {
    background-color: black;
    color: white !important;
    border-right: var(--green) 2px solid;
    border-left: var(--green) 2px solid;
}

.card {
    box-shadow: 0 0 15px var(--green);
}

/* set modal styles */
.modal-header {
    display: inline-block;
    border: var(--green) 2px solid !important;
    box-shadow: 0 0 15px var(--green);
    color: white;
    padding-bottom: 35px;
}

.modal-content {
    text-align: center;
    background-color:black;
    border: var(--green) 2px solid !important;
    box-shadow: 0 0 15px var(--green);
    color: white;
}

.modal-footer {
    border: var(--green) 2px solid !important;
    box-shadow: 0 0 15px var(--green);
}

/* sets modal button styles */
.btn-close {
    color: white;
    border: white 2px solid;
    box-shadow: 0 0 15px white;
    margin: 0 auto;
    width: 45%;
}

.btn-close:hover {
    background-color: white;
    color: black;
}

a {
    color: white;
}

a:hover {
	color: #fff;
	text-shadow: -1px 1px 8px #ffc, 1px -1px 8px #fff;
    text-decoration: none;
}

/* sets media queries */
@media (min-width: 768px) {
    img {
      width: 75%;
    }
  }

@media (max-width: 767px) {
    .btn-style {
        background-color: var(--green);
        border: var(--green) 2px solid;
        color: black;
        font-size: 1.25rem;
        font-weight: bold;
    }
      
    .btn-style:hover {
          background-color: black;
          color: var(--green);
    }
  }
