
:root {
    --green: #44dd2b;
}

body {
    background-image: url("/assets/images/space-bg.jpg");
    color: var(--green);
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1rem;
    line-height: 1.2;
    
  }

img {
    width: 85%;
}

.btn-add, .btn-yoda, .btn-reset {
  background-color: black;
  border: var(--green) 2px solid;
  color: white;
  font-size: 1.25rem;
  font-weight: bold;
}

.btn-add:hover {
    background-color: var(--green);
}

.btn-yoda:hover {
    background-color: var(--green);
}

.btn-reset:hover {
    background-color: var(--green);
}

h3 {
    font-size: 1rem;
}

h4 {
    font-size: 1.25rem;
    text-align: center;
}

.d-flex {
    display: block !important;
}

.bg-dark {
    background-color: black !important;
    border: var(--green) 2px solid;
    color: white;
    font-size: 1.25rem;
    font-weight: bold;
}

.text-dark {
    color: black !important;
}

.card-content {
    background-color: black;
    color: white !important;
    border-right: var(--green) 2px solid;
    border-left: var(--green) 2px solid;
}

.card {
    box-shadow: 0 0 15px var(--green);
}

p {
    margin-bottom: 0 !important;
}

@media (min-width: 768px) {
    img {
      width: 75%;
    }
  }
