
:root {
    --green: #44dd2b;
}

body {
    background-image: url("/assets/images/space-bg.jpg");
    color: var(--green);
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    line-height: 1.2;
    
  }

img {
    width: 85%;
}

.btn-add, .btn-yoda {
  background-color: #bb2121;
  background-image: linear-gradient(45deg, #bb21bb 0%, #17e421 52%, #220475ee 90%);
  transition: all .5s ease-out;  
  background-size: 1px 100px; 
  background-position: 0px -10px;
  color: antiquewhite;
  font-size: 20px;
  font-weight: bold;
}

h3 {
    font-size: 1rem;
}

h4 {
    font-size: 1.25rem;
    text-align: center;
}

.d-flex {
    display: block !important;
}

.bg-dark {
    background-color: var(--green) !important;
}

.text-dark {
    color: black !important;
}